-- Migration: Entity Translations
ALTER TABLE public.departments ADD COLUMN IF NOT EXISTS name_ar VARCHAR(255);
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS job_title_ar VARCHAR(255);
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS display_name_ar VARCHAR(255);
