CREATE TABLE IF NOT EXISTS task_attachments (id UUID DEFAULT gen_random_uuid() PRIMARY KEY, task_id UUID REFERENCES tasks(id) ON DELETE CASCADE, user_id UUID REFERENCES auth.users(id), file_url TEXT NOT NULL, file_name TEXT NOT NULL, created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()); ALTER TABLE task_attachments ENABLE ROW LEVEL SECURITY; CREATE POLICY "Users can view task attachments" ON task_attachments FOR SELECT USING (true); CREATE POLICY "Authenticated users can upload attachments" ON task_attachments FOR INSERT TO authenticated WITH CHECK (true); CREATE POLICY "Uploaders can delete their attachments" ON task_attachments FOR DELETE TO authenticated USING (auth.uid() = user_id);
